// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }


/* HERO RESPONSIVE */

@media (min-width: 768px) {
    .ms-img-hero{
        max-width: 25%;
    }
}

@media (min-width: 992px) {
    .ms-img-hero{
        max-width: 15%;
    }

    .star-icon-light:before{
        width: 10%;
    }

    .star-icon-light:after{
        width: 10%;
    }

    .star-icon-dark:before{
        width: 10%;
    }
    
    .star-icon-dark:after{
        width: 10%;
    }
}


