/* RESET */

ul,
ol,
menu {
	list-style: none;
}






/* DEBUG */

.debug .container-lg,
.debug .container-sm,
.debug .container-md{
    border: 2px solid black;
    padding: 20px;
}

.debug [class^='col-']{
    border: 2px solid red;
}

.debug header li{
    border: 4px solid black;
}

.debug header .col-3{
    border: 4px solid green;
}

.debug header .col-sm-6,
.debug header .col-md-6{
    border: 4px solid green;
}

