/* RESET */

*{
    margin: 0;

}

ul,
ol,
menu {
	list-style: none;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}


/* PALETTE COLOR */

:root {
    --dark-blue:#2C3E50;
    --blue:#3A546D;
    --light:#FFFFFF;
    --light-green: #1ABC9C;
    --grey: #707579;
}



/* HEADER */

.page-header{
    background-color: var(--dark-blue);
    color: var(--light);
}

.hamburger{
    color: var(--grey) ;
}



/* HERO */

.hero{
    background-color: var(--light-green);
    color: var(--light);
}

.ms-img-hero{
    max-width: 50%;
}

.star-icon-light:before{
    content: "";
    border: 1px solid var(--light);
    width: 15%;
    display: inline-block;
    position: relative;
    bottom: 3px;
}

.star-icon-light:after{
    content: "";
    border: 1px solid var(--light);
    width: 15%;
    display: inline-block;
    position: relative;
    bottom: 3px;
}



/* ABOUT SECTION */

.about-section{
    background-color: var(--light-green);
}


/* INFO SECTION */

.header-footer{
    background-color: var(--blue);
}


/* FOOTER PAGE */

.main-footer{
    background-color: var(--dark-blue);
}


/* DEBUG */

.debug .container{
    /* border: 2px solid red; */
}

.debug [class^='col-']{
    border: 2px solid black;
}


.debug header [class^='col-'],
.debug .header-footer [class^='col-'],
.debug .main-footer [class^='col-']{
    border: 2px solid white;
}
